#background{
    background-image: url("media/valhalla1.jpg");
}

table{
    color: white;  
    table-layout:fixed;  
    word-wrap:break-word;
}

input{
    color: black;
    margin: 5px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: none;
}

#editForm{
    background: rgba(0, 0, 0, 0.479);
    z-index: 99;
    position: absolute;
    display:none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;

}

table td:nth-child(2){
    width: 500px;
    max-width: 500px;
    height: fit-content;
    background: rgba(255, 255, 255, 0.205);
    
}
